.container {
	max-width: 1281px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.container--main {
	max-width: 1267px;
}

.container--core-features {
	max-width: 1293px;
}
.container--core-featuresV2 {
	justify-content: center;
	column-gap: 30px;
}
.container--core-FAQ {
	max-width: 760px;
}
.container--footer {
	max-width: 900px;
}
button {
	padding: 0;
	border: none;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.white-text {
	color: #ffffff;
}

.flex {
	display: flex;
}

.global-subtitle {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #244886;
	padding-bottom: 10px;
	letter-spacing: 0.2em;
	text-align: center;
}
.global-title {
	font-weight: 700;
	font-size: 36px;
	text-align: center;
}

.white-text.global-subtitle {
	color: #ffffff;
}
