.container {
	max-width: 1281px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
button {
	padding: 0;
	border: none;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}
