.step-by-step-instructions {
	padding-top: 100px;
	padding-bottom: 120px;

	background: url('../../../img/pattern.svg'),
		linear-gradient(135deg, rgba(30, 60, 114, 1) 0%, rgba(42, 82, 152, 1) 100%);
}

.step-by-step-instructions .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.step-list {
	margin-top: 100px;
}
