.step-card {
	max-width: 308px;
	position: relative;
}
.step-card:after {
	content: url('../../../img/arrow-stroke.svg');
	position: absolute;
	top: 0;
	right: 6%;
	width: 200px;
	height: 40px;
	opacity: 0.5;
}
.step-card > *:not(:last-child) {
	margin-bottom: 25px;
}
.step-card__number {
	display: inline-block;
	padding: 15px;
	background-color: #ffffff;
	border-radius: 45%;
	font-size: 2.5em;
	font-family: 'Lexend Deca', sans-serif;
	color: #22437d;
}
.step-card__title {
	color: #ffffff;
	width: 92%;
	font-size: 1.4em;
}
.step-card__description {
	font-size: 1em;
	width: 80%;
	color: rgba(255, 255, 255, 0.65);
}
