.features-list {
	max-width: 350px;
	margin-bottom: 60px;
	padding-left: 34px;
	position: relative;
}
.features_on,
.features_off {
	position: relative;
}
.features_on:before,
.features_off:before {
	content: url('../../../img/features_on.svg');
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: -35px;
	top: 20%;
}

.features_off:before {
	content: url('../../../img/features_off.svg');
}

.features-list__item:not(:last-child) {
	margin-bottom: 30px;
}
