.prices {
	padding-top: 100px;
	padding-bottom: 100px;

	background: url('../../../img/pattern.svg'),
		linear-gradient(135deg, rgba(30, 60, 114, 1) 0%, rgba(42, 82, 152, 1) 100%);
}
.prices .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.prices-list {
	padding-top: 80px;
	display: flex;
	gap: 30px;
}
