.FAQ {
	padding-top: 100px;
	padding-bottom: 100px;
}

.FAQ .container--core-FAQ {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.FAQ-list-issues {
	padding-top: 100px;
}
.FAQ-list-issues__item:not(:first-child) {
	margin-top: 20px;
}
