.footer {
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
	padding: 100px 0 130px;
}
.footer-list {
	display: flex;
	flex-direction: column;
}
.footer-list__item {
	color: #02073e;
	line-height: 2.5;
	font-size: 0.875em;
}

.footer-list__item:first-child {
	font-size: 1.125em;
	font-weight: 500;
	margin-bottom: 30px;
}
