.footer {
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.footer-list {
	display: flex;
	flex-direction: column;
}
.footer-list__item {
	color: #02073e;
	line-height: 2.5;
	font-size: 0.875em;
	cursor: pointer;
}
.footer-list__item:hover a {
	border-bottom: 1px solid #02073e;
}

.footer-list__item:first-child {
	font-size: 1.125em;
	font-weight: 500;
	margin-bottom: 30px;
}
