.feedback {
	overflow: hidden;
	padding-top: 100px;
	padding-bottom: 100px;
}
.feedback .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.feedback__carousel {
	padding-top: 80px;
	position: relative;
	width: 100%;
}
.arrow-box {
	display: flex;
	align-items: center;
	column-gap: 14px;
	padding-top: 50px;
}

.arrow-next:after,
.arrow-prev:after {
	content: url('../../../img/arrow.svg');
}
.arrow-prev:after {
	content: url('../../../img/arrow-rev.svg');
}
