.reviews-card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);
	max-width: 368px;
	padding: 40px;
	box-shadow: 0px 6px 47px 5px rgba(38, 78, 118, 0.1);
}

.rating {
	grid-area: 1 / 1 / 2 / 3;
	display: flex;
	column-gap: 5px;
	padding-bottom: 10px;
}
.rating span:after {
	content: url('../../../img/star_on.svg');
	display: block;
	width: 18px;
	height: 18px;
}
.rating span.star-off:after {
	content: url('../../../img/star_off.svg');
}
.reviews-card__title {
	grid-area: 2 / 1 / 3 / 3;
}
.reviews-card__description {
	grid-area: 3 / 1 / 4 / 3;
	padding: 20px 0 35px;
	font-size: 1.125em;
}
.reviews-card__img {
	grid-area: 4 / 1 / 5 / 2;
	padding-right: 20px;
}
.reviews-card__table {
	grid-area: 4 / 2 / 5 / 3;
	align-self: self-start;
}

.reviews-card-table {
	display: flex;
	flex-direction: column;
	transform: translateX(-50%);

	margin: 0;
}
.reviews-card-table__user-name {
	font-weight: 700;
	font-size: 1.125em;
}
.reviews-card-table__user-nickname {
	color: #25a0ff;
	font-weight: 500;
	font-size: 1em;
	margin: 0;
}
