.core-features {
	padding-bottom: 100px;
	padding-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 20px;
}
.core-features--rev {
	flex-direction: row-reverse;
	padding-bottom: 0px;
}
.core-features__body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.core-features__wrapper {
	max-width: 540px;
	padding: 20px;
}

.core-features-list__item:not(:last-child) {
	margin-bottom: 40px;
}

.features {
	padding-left: 75px;
	position: relative;
}
.features:before {
	content: url('../../../img/core-features-1.svg');
	display: flex;
	justify-content: center;
	align-items: center;
	width: 57px;
	height: 57px;
	background-color: rgba(255, 65, 109, 0.1);
	border-radius: 40%;

	position: absolute;
	left: 0;
	top: 0;
}
.core-features-list .core-features-list__item:nth-child(2) .features:before {
	content: url('../../../img/core-features-2.svg');
}
.features__name {
	padding-bottom: 20px;
}
.features__description {
	max-width: 355px;
}
